<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Screener</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <!--On DOM ready -->
        <script>
            $(document).ready(function(){
                $('select').material_select();
                //Append a new list item to results on submit button click
                $('#btn-submit').click(function(){
                    $('#results').append('<a href="#!" class="collection-item active">Albert</a>');
                });
            });
        </script>

        <link href="nouislider.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <!-- Nav bar -->
        <nav>
            <div class="nav-wrapper light-blue darken-1">
              <a href="#" class="brand-logo" style="padding-left:20px;">Logo</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li class="active"><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
              </ul>
            </div>
          </nav>

        <!-- Upper label -->
        <div class="container">
            <div class="row" style="margin-top:20px;">
                <h4>New stock screener</h4>
            </div>
        </div>

        <div class="container">
            <div class="divider"></div>
        </div>

        <!-- Upper section lable -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <h5>Custom</h5>
                </div>
            </div>

            <div class="container" style="padding-top:16px;">
                <div class="row" style="margin-bottom:-12px;">
                     <!-- Top sub labels -->
                    <label class="col s6" style="font-size:16px;">Sectors</label>
                    <label class="col s6" style="font-size:16px; margin-left:-12px;">Ratios</label>
                </div>

                <!-- Input fields -->
                <div class="row" style="margin-bottom:40px;">
                    <form class="col s12">
                      <div class="row">

                        <!-- Sector checkboxes -->
                          <select name = "Sector", default = "default">
                            <div class="input-field col s6" style="margin-top:0px;">
                              <form id="Screen_Values" method="POST" action="/finpy/screener/">
                                  {% csrf_token %}
                                  <p>
                                    <input type="checkbox" id="test1" class="blue-check" value = "sector 1" name = "selection" />
                                    <label for="test1">Sector 1</label>
                                  </p>
                                  <p>
                                    <input type="checkbox" id="test2" class="blue-check" />
                                    <label for="test2">Sector 2</label>
                                  </p>
                                  <p>
                                    <input type="checkbox" id="test3" class="blue-check" />
                                    <label for="test3">Sector 3</label>
                                  </p>
                                  <p>
                                    <input type="checkbox" id="test4" class="blue-check" />
                                    <label for="test4">Sector 4</label>
                                  </p>
                                  <p>
                                    <input type="checkbox" id="test5" class="blue-check" />
                                    <label for="test5">Sector 5</label>
                                  </p>
                            </div>
                            </form>



                        <!-- Ratio fields -->
                        <div class="input-field col s6">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name">P/E</label>
                        </div>

                          <div class="input-field col s6">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name">EPS</label>
                        </div>

                          <div class="input-field col s6">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name">P/Book</label>
                        </div>
                      </div>

                    <!-- Market cap selector -->
                      <div class="row">
                        <div class="input-field col s6">
                            <select>
                              <option value="" disabled selected>Choose One</option>
                              <option value="1">Small</option>
                              <option value="2">Medium</option>
                              <option value="3">Large</option>
                              <option value="4">Mega</option>
                            </select>
                            <label style="font-size:16px;">Market Cap</label>
                        </div>
                      </div>

                      <!-- Price range boxes -->
                        <label style="font-size:16px; color:#03a9f4;">Price range</label>
                      <div class="row">
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                          <label for="last_name">Lower</label>
                        </div>

                          <div class="input-field col s6">
                              <input id="last_name" type="text" class="validate">
                          <label for="last_name">Upper</label>
                          </div>
                      </div>

                      <!-- Submit button -->
                      <a class="waves-effect waves-light btn-large light-blue " style="float: right;" type = "submit" id="btn-submit">Submit</a>
                    </form>
                </div>
            </div>
</form>
            <!-- Ajax search results -->
            <div class="container">
                <h5>Results</h5>
                  <div class="collection" id="results">
                    <a href="#!" class="collection-item active">Alvin</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>

        <!-- Presets -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <h5>Presets</h5>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Preset buttons row 1 -->
                    <a class="waves-effect waves-light btn-large col s3 light-blue" style="margin-left:10px;">Button</a>
                    <a class="waves-effect waves-light btn-large col s3 light-blue" style="margin-left:20px;">Button</a>
                    <a class="waves-effect waves-light btn-large col s3 light-blue" style="margin-left:20px">Button</a>
                </div>

                <div class="row">
                    <!-- Preset buttons row 2 -->
                    <a class="waves-effect waves-light btn-large col s3 light-blue" style="margin-left:10px;">Button</a>
                    <a class="waves-effect waves-light btn-large col s3 light-blue" style="margin-left:20px;">Button</a>
                    <a class="waves-effect waves-light btn-large col s3 light-blue" style="margin-left:20px;">Button</a>
                </div>
            </div>
        </div>
    </body>
</html>
